# Logs
/*.log

# Next.js
/node_modules/
/.next/
/out/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
env/
.env/
venv/
.venv/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db
